:root {
    --primary-color: #eee;
    --primary-grad-color: linear-gradient(to right top, #fff, #fafafa, #f5f5f5, #f1f1f1, #e1e1e1);
    --primary-pattern: url(/img/06.png);
    --secondary-color: #b7f6b0;
    --secondary-grad-color: linear-gradient(to right top, #b7f6b0, #b9ecb3, #a6dfa0, #9fe297, #93f088);
    --secondary-pattern: url(/img/02.png);
    --text-primary: #1a1a1a;
    --text-secondary: #3e3e3e;
    --max-width: 1100px;
    --border-radius: .3rem;
    --box-shadow: 0px 0px 1rem rgba(0, 0, 0, .5);
    --box-shadow-light: 0px 0px 1rem rgba(0, 0, 0, .2);
    --text-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 1rem/1.5 'Montserrat', sans-serif;
    color: var(--text-primary);
    overflow-X: hidden;
}


/* Utility clases */


.btn {
    text-decoration: none;
    color: var(--text-primary);
    padding: .5rem 1rem;
    margin: 0 .2rem;
    background: var(--secondary-color);
    border-radius: var(--border-radius);
    opacity: 1;
    font-weight: bold;
}

.btn-dark {
    background: var(--text-secondary);
    color: #fff;
}

.btn:hover {
    opacity: .8;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

h1,
h2,
h3 {
    text-shadow: var(--text-shadow);
}

h1 {
    font-size: 2.3rem;
    text-align: center;
}

p {
    text-align: justify;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem 3rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    background: #fff;
    border-radius: var(--border-radius);
}

/* Navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: #444;
    justify-content: space-between;
    z-index: 1;
    padding: 1.5rem 4.5rem;
}

#navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

/*====== properties transferred .btn */
/* #navbar a {
    text-decoration: none;
    color: var(--text-primary);
    padding: .5rem 1rem;
    margin: 0 .2rem;
    background: var(--secondary-color);
    border-radius: var(--border-radius);
    opacity: 1;
    font-weight: bold;
} */



#navbar ul li a.current {
    background: var(--primary-color);
    opacity: 1;
}

/* Image on :hover */
#navbar a.logo {
    position: relative;
    opacity: 1;
}

#navbar a.logo:hover {
    background-color: #9EDC97;
}

#navbar a.logo img {
    /* display: none; */
    position: absolute;
    top: 2.2rem;
    left: 0;
    transform: translateX(-10rem);
    border-radius: var(--border-radius);
    opacity: 0;
    width: 12rem;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .5);
    transition: .5s ease-in-out;
}

#navbar a.logo:hover img {
    /* display: block; */
    transform: translateX(0);
    opacity: 1;
}


/* Header */
#main-header {
    background: var(--secondary-grad-color), var(--secondary-pattern);
    background-blend-mode: multiply;
    padding: 4rem .5rem;
    text-shadow: var(--text-shadow);
}

#main-header h1,
#main-header h3 {
    transform: translateX(-200px);
    transition: all .3s .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

#main-header h1 {
    transform: translateX(200px);
    transition: all .3s ease-in-out;
}

#main-header.show h1,
#main-header.show h3,
#description.show .container {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.fa-carrot {
    color: #D73500;
}

#main-header .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#main-header .header-nav .btn {
    margin: 1rem;
    box-shadow: var(--box-shadow-light);
}

#main-header .top-fixed,
#main-header .bottom-fixed {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    font-size: 2.5rem;
    color: var(--secondary-color);
    padding: 0 1rem;
    z-index: 1;
    opacity: .5;
    background: var(--text-secondary);
    border-radius: 50%;
}

#main-header .bottom-fixed {
    bottom: 0;
}

#main-header .top-fixed:hover,
#main-header .bottom-fixed:hover {
    opacity: .7;
}

/* Description */
#description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: var(--max-width);
    margin: 0 auto;
    grid-gap: 1rem;
}

#description .container {
    transform: translateY(-200px);
    transition: all .3s .9s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

#description .c-description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
    transform: translateX(-200px);
    transition: all .3s .6s ease-in-out;
}

#description .c-description img {
    width: 110%;
    border-radius: var(--border-radius);
}

/* Timeline================================ */
#timeline {
    overflow-x: hidden;
    padding-top: 0;
    background: var(--primary-grad-color), var(--primary-pattern);
    background-blend-mode: soft-light;
}

#timeline h1 {
    padding: 2rem 2.5rem;
    background: #fff;
}

#timeline ul li {
    list-style: none;
}

/* Create Line */
#timeline>ul>li {
    position: relative;
    width: .4rem;
    margin: 0 auto;
    padding-top: 50px;
    background: var(--text-primary);
    border-radius: var(--border-radius);
}

/* Boxes */
#timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem 1.5rem;
    background: var(--secondary-color);
    transition: all .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    border-radius: var(--border-radius);
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
    left: 40px;
    transform: translate(200px, 0);
}

/* Left Side */
#timeline ul li:nth-child(even) div {
    left: -434px;
    transform: translate(-200px, 0);
}

/* Dots */
#timeline>ul>li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    background: inherit;
    width: 1rem;
    height: 1rem;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: background .5s ease-in-out;
}

#timeline ul li.show::after {
    background: var(--secondary-color);
    border: .4rem solid var(--text-secondary);
    box-sizing: content-box;
}

/* Arrows base */
#timeline div::before {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 0;
    height: 0;
    border: solid;
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color)transparent transparent;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0px 8px 16px;
    border-color: transparent transparent transparent var(--secondary-color);
}

/* Show boxes */
#timeline ul li.show div {
    transform: none;
    visibility: visible;
    opacity: 1;
    box-shadow: var(--box-shadow);
}

/* =================================================== */

/* Photos */
#grid-photos {
    background: #fff;
    margin: 2rem auto 0;
    text-shadow: var(--text-shadow);
}

#grid-photos h1 {
    padding: 2.5rem;
}

#grid-photos .photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#grid-photos .photos .card {
    padding: 1rem;
    background: #fff;
    /* box-shadow: var(--box-shadow-light); */
    border-radius: var(--border-radius);
    text-align: left;
}

#grid-photos .photos .card .category {
    display: inline-block;
    font-size: .8rem;
    padding: .4rem .6rem;
    border-radius: 1rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    background: var(--secondary-color);
    transition: .5s;
}

#grid-photos .photos .card .category:last-child:hover {
    background: rgba(48, 219, 48, 0.6);
}

#grid-photos .photos .card div {
    overflow: hidden;
}

#grid-photos .photos .card img {
    width: 100%;
    border-radius: var(--border-radius);
    transition: 1s;
}

#grid-photos .photos .card img:hover {
    transform: scale(1.2);
}

#grid-photos .photos .card a {
    color: inherit;
}




/* Footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background: var(--text-secondary);
    color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 0.75rem;
    padding: 1rem 0;
    line-height: 1.6rem;
}

footer a {
    color: var(--primary-color);
    text-decoration: none;
    transition: .3s;
}

footer a:hover {
    color: var(--secondary-color);
}

/* Media Queries */
/* ================================================ */
@media(max-width: 900px) {
    #navbar {
        padding: 1rem;
    }

    #main-header .top-fixed,
    #main-header .bottom-fixed {
        right: 2rem;
    }

    /* Description */
    #description {

        grid-template-columns: 1fr;
        /* width: 90vw; */
        grid-gap: 0;
        padding: 0;
    }

    #description .c-description {
        grid-column: 1;
    }

    #description .c-description p {
        padding-right: 1.5rem;
    }

    #description .c-description img {
        width: 100%;
        border-radius: var(--border-radius);
    }

    #description .container {
        box-shadow: none;
    }

    #description .container:last-child {
        padding-top: 0;
    }

    /* Timeline */
    #timeline {
        padding: 0;
        margin-top: -.25rem;
    }

    #timeline h1.container {
        box-shadow: none;
    }

    #timeline ul li div {
        width: 250px;
    }

    #timeline ul li:nth-child(even) div {
        left: -284px;
    }

    #grid-photos .photos {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ============================================== */
@media(max-width: 700px) {

    /* Footer */
    #main-footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
    }
}

/* =============================================== */
@media(max-width: 600px) {
    #main-header .header-nav {
        margin-top: 4rem;
        padding: 1rem 0;
    }

    #main-header .header-nav .btn {
        text-align: center;
        margin: 0 .25rem;
        font-size: .95rem;
    }

    #main-header .top-fixed,
    #main-header .bottom-fixed {
        right: 0;
        padding: .5rem;
    }

    .container {
        padding: 2rem;
    }

    #description .c-description {
        grid-template-columns: 1fr;
    }

    #description .c-description p {
        padding-right: 0;
    }

    /* Timeline */
    #timeline>ul>li {
        margin-left: 1.4rem;
    }

    #timeline ul li div {
        width: calc(100vw - 90px);
    }

    #timeline ul li:nth-child(even) div {
        left: 40px;
    }

    /* Right Side Arrows */
    #timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent var(--secondary-color)transparent transparent;
    }

    #grid-photos .photos {
        grid-template-columns: 1fr;
        padding: 1rem .5rem;
    }

    /* Footer - transfer properties to max-width 700px*/
    /* footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
    } */
}